{% extends 'base.html' %}

{% block content %}
<div class="col-12">
    <div class="layout-spacing">
        {% if error %}
        <div class="alert alert-light-danger border-0 mb-4" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
            <strong>Ошибка!</strong> Не хватает денег. Пополните баланс.</button>
        </div> 
        {% endif %}
        <div class="widget widget-content-area br-4">
            <div class="widget-one">
                <h4 class="text-center mb-2 mt-2">
                    <b>
                        Тарифы
                    </b>
                </h4>

                <div class="table-responsive">
                    <table class="table mt-2">
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Количество сообщений</th>
                                <th>Цена</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tarrif in tarrifs %}
                            <tr>
                                <td><b>{{ tarrif.name }}</b></td>
                                <td>
                                    <span class="badge badge-info">{{ tarrif.messages_count }}</span>
                                </td>
                                <td>
                                    <span class="badge outline-badge-success">
                                        {{ tarrif.price }} руб.
                                    </span>
                                </td>
                                <td>
                                    <a href="/tarrifs/buy/{{ tarrif.id }}" class="btn btn-rounded btn-sm btn-primary">
                                        <b>
                                            Купить
                                        </b>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
